@font-face {
  font-family: "Poppins";
  src: local("Poppins");
  src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

@import "tailwindcss";

@theme {
  /* Primary */
  --color-Red-400: hsl(0, 100%, 74%);
  --color-Green-400: hsl(154, 59%, 51%);
  --color-lightGreen: hsl(154, 59%, 70%);

  /* Accent */
  --color-Purple-700: hsl(248, 32%, 49%);

  /* Neutral */
  --color-Gray-900: hsl(249, 10%, 26%);
  --color-lightGray: hsl(249, 10%, 80%);
  --color-Purple-350: hsl(246, 25%, 77%);

  /* Font */
  --fonts-Poppins: "Poppins";
}

.attribution {
  font-size: 1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  cursor: pointer;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container input {
  width: 100%;
}

.error-icon {
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-100%);
  cursor: default;
}

.error-message-container {
  display: none;
  justify-content: right;
}

.error-message-container p {
  color: var(--color-Red-400);
  font-style: italic;
}

/* THE ERROR STATE --When the container gets the 'error' class...*/
.input-container.error .error-icon {
  display: block;
}

.input-container.error input {
  border-color: var(--color-Red-400);
  outline: none;
}

.error-message-container.error {
  display: flex;
}
